// These colors are specific to the theme. Do not use in a package!
@blue:                  #5fafef;
@selection_blue:        #69BAFF;
@light_blue:            rgba(137,198,243,.1);
@dark_blue:             #2F6F9F;
@light_blue_border:     #aacbdf;
@sky_blue:              #DEF7FF;

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;
@medium-gray: #535353;
@lighter-gray: #C0E1F0;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #6700B9;
@green: #699D36;
@red: #F93232;
@orange: #E9AD1A;
@light-orange: #f0c674;
